<?xml version="1.0"?>
<config>
    <modules>
        <KutybaIt_InvoiceCostIncludeShipping>
            <version>0.1.0</version>
        </KutybaIt_InvoiceCostIncludeShipping>
    </modules>
    <global>
        <models>
            <sales>
                <rewrite>
                    <order_invoice_total_cost>KutybaIt_InvoiceCostIncludeShipping_Model_Sales_Order_Invoice_Total_Cost</order_invoice_total_cost>
                </rewrite>
            </sales>
        </models>
    </global>
</config>